[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
  ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  ignore = dirty
[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
  path = oh-my-zsh/custom/themes/powerlevel10k
  url = https://github.com/romkatv/powerlevel10k.git
  ignore = dirty
[submodule "vim/custom/pack/remote/start/lightline.vim"]
  path = vim/custom/pack/remote/start/lightline.vim
  url = git@github.com:itchyny/lightline.vim
  ignore = dirty
[submodule "vim/custom/pack/remote/start/nerdtree"]
  path = vim/custom/pack/remote/start/nerdtree
  url = git@github.com:preservim/nerdtree.git
  ignore = dirty
[submodule "vim/custom/pack/remote/start/YouCompleteMe"]
  path = vim/custom/pack/remote/start/YouCompleteMe
  url = git@github.com:Valloric/YouCompleteMe.git
  ignore = dirty
[submodule "vim/custom/pack/remote/start/onehalf"]
  path = vim/custom/pack/remote/start/onehalf
  url = git@github.com:sonph/onehalf.git
  ignore = dirty
[submodule "vim/custom/pack/remote/start/vim-fugitive"]
  path = vim/custom/pack/remote/start/vim-fugitive
  url = git@github.com:tpope/vim-fugitive.git
  ignore = dirty
